.header__lang-link {
  margin-right: 18px;
  font-size: 24px;
  line-height: 1.17;
  color: white;
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.3s cubic-bezier(1, 0.21, 0, 0.96);
}

.header__lang-link:hover {
  opacity: 0.8;
}

.header__lang-link:last-of-type {
  margin-right: 0;
}

@media screen and (max-width: 424px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 1.11;
  }
}