.page {
  margin: 0;
  padding: 28px 0 24px;
  display: grid;
  justify-content: center;
  background-color: #2A2C2F;
  font-family: Inter, Arial, Helvetica, sans-serif;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  .page {
    padding: 28px 0 24px;
  }
}

@media screen and (max-width: 424px) {
  .page {
    padding: 16px 0 24px;
  }
}