@import url('./__item/photo-grid__item.css');

.photo-grid {
  margin: 0 auto;
  max-width: 1184px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .photo-grid {
    max-width: none;
    width: 100%;
    gap: 14px;
  }
}

@media screen and (min-width: 616px) and (max-width: 1023px) {
  .photo-grid {
    max-width: none;
    width: 100%;
    gap: 16px;
  }
}

@media screen and (max-width: 615px) {
  .photo-grid {
    max-width: none;
    width: 100%;
    gap: 12px;
  }
}