.photo-grid {

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(284px, 100%), 1fr));
  gap: 16px;
  width: 100%;
}

.photo-grid__item {
  width: 100%;
  height: auto;
  object-fit: cover;
}