.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .photo-grid {
    gap: 14px;
    padding: 0 48px;
  }
}

@media screen and (min-width: 616px) and (max-width: 1023px) {
  .photo-grid {
    gap: 16px;
  }
}

@media screen and (max-width: 615px) {
  .photo-grid {
    gap: 12px;
  }
}