.places {
  margin: 0 auto;
  max-width: 984px;
  display: grid;
  grid-template-columns: minmax(min-content, 1fr);
  gap: 80px;
}

@media screen and (max-width: 560px) {
  .places {
    gap: 50px;
  }
}