.place__image {
  width: 100%;
  object-fit: cover;
  grid-area: image;
}

@media screen and (max-width: 560px) {
  .place__image {
    margin-left: -16px;
    width: calc(100% + 2*16px);
    object-fit: cover;
  }
}