@import url(./__title/lead__title.css);
@import url(./__subtitle/lead__subtitle.css);
@import url(./__figure/lead__figure.css);
@import url(./__image/lead__image.css);
@import url(./__caption/lead__caption.css);

.lead {
  width: 100%;
  display: flex;
  flex: 1 1 auto;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  max-width: 984px;
}
