.header__logo {
  width: 172px;
  height: 52px;
  background-image: url('../../../images/logo.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 425px) {
  .header__logo {
    background-size: 142px 42px;
  }
}