@import url(./__russia-pic/header__russia-pic.css);
@import url(./__lang-links/header__lang-links.css);
@import url(./__lang-link/header__lang-link.css);
@import url(./__lang-link/_type/_ru/header__lang-link_type_ru.css);

.header {
  margin-bottom: 56px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  font-size: 24px;
  line-height: 1.16;
  font-weight: normal;
}

@media screen and (max-width: 768px) {
  .header {
    margin-bottom: 48px;
  }
}

@media screen and (max-width: 424px) {
  .header {
    font-size: 18px;
    line-height: 1.11;
  }
}