.lead__title {
  margin: 0 0 32px;
  max-width: 720px;
  text-align: center;
  font-size: 96px;
  line-height: 1.04;
}

@media screen and (max-width: 720px) {
  .lead__title {
    margin-bottom: 16px;
    max-width: none;
    width: 100%;
    font-size: 40px;
    line-height: 1.1;
  }

}