.footer__links {
  margin: 0;
  padding-left: 0;
  display: flex;
  list-style: none;
}

@media screen and (min-width: 471px) and (max-width: 690px) {
  .footer__links {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 470px) {
  .footer__links {
    flex-direction: column;
    margin-bottom: 48px;
  }
}