.place__paragraph {
  margin: 0 0 26px;
  font-size: 18px;
  line-height: 1.63;
}

.place__paragraph:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    margin-bottom: 25px;
    font-size: 16px;
  }
}

@media screen and (min-width: 321px) and (max-width: 560px) {
  .place__paragraph {
    padding: 0 24px;
  }
}

@media screen and (max-width: 321px) {
  .place__paragraph {
    padding: 0 16px;
  }
}