.lead__image {
  margin-bottom: 8px;
  display: block;
  width: 100%;
  height: auto;
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  .lead__image {
    margin-left: -24px;
    width: calc(100% + 2*24px);
  }
}

@media screen and (max-width: 560px) {
  .lead__image {
    margin-left: -16px;
    width: calc(100% + 2*16px);
    height: auto;
  }
}