@import url(./__title/intro__title.css);
@import url(./__subtitle/intro__subtitle.css);
@import url(./__list/intro__list.css);
@import url(./__list-item/intro__list-item.css);
@import url(./__number/intro__number.css);

.intro {
  padding-left: calc((50%) - 984px/2);
  max-width: 690px;
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  .intro {
    max-width: none;
    width: 100%;
  }
}