.lead__subtitle {
  margin: 0;
  margin-bottom: 64px;
  max-width: 640px;
  text-align: center;
  font-size: 30px;
  line-height: 1.2;
  font-weight: normal;
}

@media screen and (max-width: 720px) {
  .lead__subtitle {
    margin-bottom: 40px;
    max-width: none;
    width: 100%;
    font-size: 16px;
    line-height: 1.25;
  }
}