.cover__title {
  margin: 0;
  margin-bottom: 32px;
  max-width: 560px;
  font-size: 72px;
  line-height: 1.06;
  z-index: 2;
}

@media screen and (max-width: 559px) {
  .cover__title {
    max-width: 250px;
    margin-bottom: 16px;
    font-size: 32px;
    line-height: 1.09;
  }
}