.place {
  display: grid;
  grid-template-columns: minmax(440px, 460px) minmax(456px, 1fr);
  grid-template-areas:
    "title website"
    "image text";
  gap: 48px 40px;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .place {
    grid-template-columns: minmax(340px, 440px) minmax(352px, 1fr);
    gap: 48px 32px;
  }
}

@media screen and (min-width: 561px) and (max-width: 768px) {
  .place {
    grid-template-columns: minmax(170px, 340px) minmax(300px, 1fr);
    gap: 48px 28px;
  }
}

@media screen and (max-width: 560px) {
  .place {
    grid-template-columns: minmax(10px, 1fr);
    grid-template-areas:
      "title"
      "website"
      "image"
      "text";
    gap: 32px;
  }
}