.place {
  width: 100%;
  display: grid;
  grid-template-columns: minmax(440px, 460px) minmax(100px, 1fr);
  grid-template-areas: 
  "title website"
  "image text";
  gap: 48px 40px;
}

.place__title {
  margin: 0;
  font-size: 72px;
  line-height: 1.05;
  grid-area: title;
}

.place__image {
  width: 100%;
  object-fit: cover;
  grid-area: image;
}

.place__website {
  align-self: end;
  grid-area: website;
}

.place__url-heading {
  margin: 0;
  margin-bottom: 12px;
  color: #aaa;
  font-size: 12px;
  font-weight: normal;
  line-height: 1;
  letter-spacing: 2px
}

.place__link {
  font-size: 18px;
  line-height: 1.2;
  color: #fff;
  text-decoration: none;
}

.place__text {
  grid-area: text;
}

.place__paragraph {
  margin: 0;
  margin-bottom: 26px;
  font-size: 18px;
  line-height: 1.6;
}

.place__paragraph:last-of-type {
  margin-bottom: 0;
}