.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 471px) and (max-width: 690px) {
  .footer {
    flex-direction: column;
  }
}

@media screen and (max-width: 470px) {
  .footer {
    flex-direction: column;
    align-items: start;
  }
}