.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 471px) and (max-width: 690px) {
  .footer {
    flex-direction: column;
    /* align-items: start; */
  }
}

@media screen and (max-width: 470px) {
  .footer {
    flex-direction: column;
    align-items: start;
  }
}

.footer__links {
  margin: 0;
  padding-left: 0;
  display: flex;
  list-style: none;
}

@media screen and (min-width: 471px) and (max-width: 690px) {
  .footer__links {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 470px) {
  .footer__links {
    flex-direction: column;
    margin-bottom: 48px;
  }
}

.footer__link-item {
  margin-right: 16px;
}

.footer__link-item:last-child {
  margin-right: 0;
}

@media screen and (max-width: 470px) {
  .footer__link-item {
    margin: 0 0 32px;
  }

  .footer__link-item:last-child {
    margin: 0;
  }
}

.footer__link {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.12;
  font-weight: normal;
  opacity: 1;
  transition: opacity 0.3s cubic-bezier(1, 0.21, 0, 0.96);
}

@media screen and (max-width: 470px) {
  .footer__link {
    font-size: 24px;
    line-height: 1;
  }
}

.footer__link:hover {
  opacity: 0.8;
}

.footer__copyright {
  margin: 0;
  font-size: 14px;
  line-height: 1.14;
  font-weight: normal;
}

@media screen and (max-width: 470px) {
  .footer__copyright {
    line-height: 1;
  }

}