.place__website {
  align-self: end;
  grid-area: website;
}

@media screen and (min-width: 321px) and (max-width: 560px) {
  .place__website {
    padding: 0 24px;
  }
}

@media screen and (max-width: 321px) {
  .place__website {
    padding: 0 16px;
  }
}